.git
.github
.idea
tmp
roms
external
tests
site
docs/assets/gif
docs/assets/img
docs/*.md
zig-out
.zig-cache
*.md
.gitignore
.dockerignore
.editorconfig
LICENSE
pyproject.toml
uv.lock
Makefile
mkdocs.yml
