# Sandopolis input mapping
# Copy to `sandopolis_input.cfg` or point `SANDOPOLIS_INPUT_CONFIG` at a custom path.
#
# Format:
#   keyboard.<action> = <key>         # shorthand for keyboard.p1.<action>
#   keyboard.p1.<action> = <key>
#   keyboard.p2.<action> = <key>
#   gamepad.p1.<action> = <button>
#   gamepad.p2.<action> = <button>
#   controller.p1 = <type>
#   controller.p2 = <type>
#   analog.gamepad_axis = <0-32767>
#   analog.joystick_axis = <0-32767>
#   analog.trigger = <0-32767>
#   hotkey.<action> = <key>
#   hotkey.<action> = <modifier>+<key>
#   ...or `none` to unbind
#
# Controller actions: up, down, left, right, a, b, c, x, y, z, mode, start
# Controller types: three_button, six_button
# Analog thresholds default to 16000
#
# Hotkey actions:
#   toggle_help, toggle_pause, open_rom, restart_rom, reload_rom,
#   open_keyboard_editor, toggle_performance_hud, reset_performance_hud,
#   save_quick_state, load_quick_state, save_state_file, load_state_file,
#   next_state_slot, step, registers, record_gif, record_wav,
#   toggle_fullscreen, quit
#
# Hotkey modifiers: ctrl, shift, alt, gui (can be combined, e.g. ctrl+shift+f3)
#
# Keyboard keys:
#   up, down, left, right, a, s, d, q, w, e, r, f, h, i, j, k, l, m, n, o, p, u,
#   z, x, c, v, return, tab, backspace, space, escape, delete, lshift, rshift,
#   semicolon, apostrophe, comma, period, slash,
#   f1, f2, f3, f4, f5, f6, f7, f8, f9, f10, f11, f12
#
# Gamepad buttons:
#   dpad_up, dpad_down, dpad_left, dpad_right, south, east, west, north,
#   left_shoulder, right_shoulder, back, start, guide, left_stick,
#   right_stick, misc1, left_trigger, right_trigger

controller.p1 = six_button
controller.p2 = six_button

analog.gamepad_axis = 16000
analog.joystick_axis = 16000
analog.trigger = 16000

keyboard.p1.up = up
keyboard.p1.down = down
keyboard.p1.left = left
keyboard.p1.right = right
keyboard.p1.a = a
keyboard.p1.b = s
keyboard.p1.c = d
keyboard.p1.x = q
keyboard.p1.y = w
keyboard.p1.z = e
keyboard.p1.mode = tab
keyboard.p1.start = return

keyboard.p2.up = i
keyboard.p2.down = k
keyboard.p2.left = j
keyboard.p2.right = l
keyboard.p2.a = u
keyboard.p2.b = o
keyboard.p2.c = p
keyboard.p2.x = semicolon
keyboard.p2.y = apostrophe
keyboard.p2.z = slash
keyboard.p2.mode = period
keyboard.p2.start = rshift

gamepad.p1.up = dpad_up
gamepad.p1.down = dpad_down
gamepad.p1.left = dpad_left
gamepad.p1.right = dpad_right
gamepad.p1.a = south
gamepad.p1.b = east
gamepad.p1.c = right_shoulder
gamepad.p1.x = west
gamepad.p1.y = north
gamepad.p1.z = left_shoulder
gamepad.p1.mode = back
gamepad.p1.start = start

gamepad.p2.up = dpad_up
gamepad.p2.down = dpad_down
gamepad.p2.left = dpad_left
gamepad.p2.right = dpad_right
gamepad.p2.a = south
gamepad.p2.b = east
gamepad.p2.c = right_shoulder
gamepad.p2.x = west
gamepad.p2.y = north
gamepad.p2.z = left_shoulder
gamepad.p2.mode = back
gamepad.p2.start = start

hotkey.toggle_help = f1
hotkey.toggle_pause = f2
hotkey.open_rom = f3
hotkey.restart_rom = shift+f3
hotkey.reload_rom = ctrl+shift+f3
hotkey.open_keyboard_editor = f4
hotkey.toggle_performance_hud = f5
hotkey.save_quick_state = f6
hotkey.load_quick_state = f7
hotkey.save_state_file = f8
hotkey.load_state_file = f9
hotkey.next_state_slot = f10
hotkey.toggle_fullscreen = f11
hotkey.reset_performance_hud = f12
hotkey.step = space
hotkey.registers = backspace
hotkey.record_gif = r
hotkey.record_wav = shift+r
hotkey.quit = escape
